In [3]:
#1
fruits = ["Apple", "Banana", "Pear", "Mandarin", "Orange"]
print(f"3rd Fruit: {fruits[2]} ")

3rd Fruit: Pear

In [6]:
#2
Countries = { 'Turkey' : 'Ankara',
              'France' : 'Paris' ,
              'Germany' : 'Berlin' }
print(f"Capital of Turkey: { Countries['Turkey'] }")

Capital of Turkey: Ankara

In [23]:
#3
num = int(input("Enter a integer number: "))
if num % 2 == 0:
    print("Even Number")
else :
    print("Odd Number")

Enter a integer number:  7

Odd Number

In [24]:
#4
nums = [1, 2, 3, 4, 5]
for i in nums:
    i = i**2
    print(i)

1
4
9
16
25

In [12]:
#5
Students = {'Ahmet': 56,
            'Hüseyin': 99,
            'Ufuk': 77     }
for i in Students.values():
    print(i)

56
99
77

In [14]:
#6
Nested = [["Elma", "Armut", "Muz", "Portakal"], ["Havuç", "Brokoli", "Lahana"],["Peynir", "Süt"]]
for i in Nested:
    for j in i :
        print(j)

Elma
Armut
Muz
Portakal
Havuç
Brokoli
Lahana
Peynir
Süt

In [15]:
#7
Cars = ['BMW', 'TOFAŞ', 'Anadol']
car1 = 'TOFAŞ'
print(car1 in Cars)

True

In [22]:
#8
number = int(input("Enter a number: "))
if number > 50:
    print("Yüksek")
elif number > 25 and number <= 50:
    print("Orta")
else:
    print("Düşük")

Enter a number:  5

Düşük

In [1]:
#9
Isciler = {"Hüseyin":4000.0,
           "Ufuk":5345.0,
           "Oktay":7896.9 }
for isci, ücret in Isciler.items():
    if ücret < 5000:
        Isciler[isci] *= 1.25
    else:
        Isciler[isci] *= 1.15
for isci, new_ücret in Isciler.items():
    print(f"{isci}: {new_ücret} TL")

Hüseyin: 5000.0 TL
Ufuk: 6146.749999999999 TL
Oktay: 9081.435 TL

In [2]:
#10
Sayilar = [[4, 2, 6, 5, 8], [10, 2, 7, 9], [5, 4, 3], [19, 1]]
sonuc = []
for i in Sayilar:
    toplam = 0
    for j in i:
        toplam += j
    sonuc.append(toplam)
print(sonuc)

[25, 28, 12, 20]

In [5]:
#11
books = [
    {"başlık": "God Help the Child", "yazar": "Toni Morrison", "yıl": 2015},
    {"başlık": "The Milkman", "yazar": "Anna Burns", "yıl": 2018},
    {"başlık": "The Green Road", "yazar": "Anne Enright", "yıl": 2015},
    {"başlık": "Aldatmak", "yazar": "Ahmet Altan", "yıl": 2002},
    {"başlık": "Harry Potter ve Zümrüdüanka Yoldaşlığı", "yazar": "J.K.Rowling", "yıl": 2003},
]
for book in books:
    if book["yıl"] > 2010 and book["yazar"].startswith('A'):
        print(book["yazar"].upper())

ANNA BURNS
ANNE ENRIGHT

In [4]:
#12
Tarihler = ["05.05.1998", "12.06.2003", "14.01.2000", "20.08.2019", "02.03.1998"]
sorted_tarihler = []
for i in Tarihler:
    gün, ay, yıl = i.split(".")
    sorted_tarihler.append(f"{yıl}.{ay}.{gün}")
print("Tarihler En Yeniden En Eskiye".center(50,'*'))
sorted_tarihler.sort(reverse = True)
for j in sorted_tarihler:
    print(j)

**********Tarihler En Yeniden En Eskiye***********
2019.08.20
2003.06.12
2000.01.14
1998.05.05
1998.03.02

In [5]:
#13
dic_1 = {"a":7, "k":3, "d":5, "e":2}
dic_2 = {"a":2, "b":7, "d":1, "e":5, "k":6, "y":8}
dic_3 = {}
for key, value in dic_1.items():
    if key in dic_3:
        dic_3[key] += value
    else:
        dic_3[key] = value
for key, value in dic_2.items():
    if key in dic_3:
        dic_3[key] += value
    else:
        dic_3[key] = value   
print(dic_3)

{'a': 9, 'k': 9, 'd': 6, 'e': 7, 'b': 7, 'y': 8}